@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Center the content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  font-family: 'Inter', sans-serif !important;
}

h1 {
  text-align: center;
  color: #0066cc;
  margin-bottom: 30px;
}

form {
  width: 400px;
  margin-bottom: 2rem;
}

/* Set styles for the login form */
form {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #0066cc;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  max-width: 350px;
  padding: 10px 20px; /* Add this line */
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
}

form input[type="submit"] {
  background-color: #0066cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #0059b3;
}

/* Style for error message */
.error-message {
  color: red;
  margin-top: 10px;
}
